/* CSS 작성 */
header{
    width: 1030px;
    margin: 100px auto 48px;
    top: 100px;
    bottom: 48px;
}

header h1{
    margin: 0;
}

section{
    position: relative;
    width: 1030px;
    margin: 0 auto;
    padding-top: 8px;
}

section h2{
    margin:  0 auto 24px;
}

section h2 span{
    font-size: 16px;
}

.one{
    width: 500px;
}

.two{
    width: 242px;;
}

section li{
    height: 300px;
    float: left;
    position: relative;
    margin: 10px 10px 0 0;
    text-align: center;
    display: list-item;
    border: 1px solid red;
}

section li a{
    display: block;
}

section li a img{
    border: 0;
    padding: 0;
}

button{
   display: block;
   text-indent: -9999em;
   width: 40px;
   height: 40px;
   position: absolute;
   left: 20px;
   bottom: 20px;
}

