/* CSS 작성 */
header{
    width: 1030px;
    margin: 100px auto 48px;
    top: 100px;
    bottom: 48px;
}

header h1{
    margin: 0;
}

section{
    position: relative;
    width: 1030px;
    height: 1000px;
    margin: 0 auto;
    padding-top: 8px;
}

section h2{
    margin:  0 auto 24px;
}

section h2 span{
    font-size: 16px;
}

section .discovery li{
    height: 300px;
    float: left;
    position: relative;
    margin: 10px 10px 0 0;
    text-align: center;
    display: list-item;
    border: 1px solid #C4C4C4;
}

.one{
    width: 500px;
}

.two{
    width: 243px;;
}

button{
   display: block;
   width: 42px;
   height: 42px;
   position: absolute;
   left: 20px;
   bottom: 20px;
   color: white;
   background-color: gray;
   opacity: 20%;
   text-align: center;
}

.discovery :hover {
    border-color: #0074E9;
}
.discovery li:focus {
    outline: none;
    box-shadow: 0 0 0 1px #0074E9;
}

.discovery li:focus::before button{
    content: "구매하기";
}

.discovery li:focus::before button:hover{
    background-color: #0074E9;
    opacity: inherit;
    width: 112px;
    height: 42px;
    transition: ease-in-out 0.2s;
}

button:hover::before {
    content: "구매하기";
}
button:hover {
    background-color: #0074E9;
    opacity: inherit;
    width: 112px;
    height: 42px;
    transition: ease-in-out 0.2s;
}
